.loader {
    border: 20px solid #EAF0F6;
    border-radius: 50%;
    border-top: 20px solid #2e2e2e;
    width: 200px;
    height: 200px;
    animation: spinner 4s linear infinite;
    position: absolute;
    top: 40%;
    left: 45%;
}

@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}