.BasketItemWrapper {
    margin-top: 20px;
    display: flex;
    margin-left: 210px;
    margin-right: 180px;
    align-items: center;
}

.nameWrapper {
    display: flex;
    align-items: center;
    width: 405px;
}

.PriceWrapper {
    width: 375px;
}

.countWrapper {
    padding-top: 11px;
    width: 375px;
}

.nameWrapper p {
    padding: 0 20px;
}

.totalWrapper {
    padding-left: 60px;
}

.countWrapper circle {
    padding: 200px;
}

.deleteIconWrapper {
    width: 40px;
    padding-left: 36px;
    cursor: pointer;
}