.BilingWrapper {
    display: flex;
    justify-content: center;
}

.BilingContainer {
    display: flex;
    margin: 20px;
    width: 80vw;
    height: 85vh;
}

.BilingSuccessContainer {
    width: 50%;
    padding: 100px;
}

.BilingDetailsContainer {
    margin: 100px;
    width: 50%;
}

.BilingDetailsContainer p {
    font-size: 30px;
}

.BilingDetailsContainer input {
    background-color: #ebebeb;
    width: 300px;
    height: 30px;
    border: none;
    margin: 5px;
    padding: 20px;
    border-radius: 12px;
}

.BilingitemsContainer {
    height: 400px;
}

.BilingitemsBtnAccept {
    cursor: pointer;
    color: #fff;
    background: #DB4444;
    border: none;
    padding: 15px;
    font-size: 15px;
    border-radius: 15px;
    margin-left: 45px;
    margin-top: 10px;
}