.CategoryContainer {
    padding: 20px 20px 20px 180px;
    border-right: 1px solid;
    width: 400px;
}

.CategoryListItem {
    padding: 10px;
}

.CategoryListItem a {
    color: black;
    text-decoration: none;
}

.CategoryListMainItem {
    padding: 10px;
    font-size: 20px;
    font-weight: 900;
}

.CategoryListMainItem a{
    color: black;
    text-decoration: none;
}