.categoryCardContainer {
    cursor: pointer;
    width: 250px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.categoryCard {
    padding: 20px;
}

.categoryCard p {
    margin-top: 5px;
    font-weight: 500;
    font-size: 1.1rem;
}

@keyframes grow {
    from {
        scale: 1;
    }

    to {
        scale: 1.1;
    }
}

.categoryCard:hover {
    animation: grow 0.5s ease;
    scale: 1.1;
}