.ButtonPlus {
    width: 30px;
    height: 30px;
    font-size: 20px;
    border-width: 0px;
    background-color: #DB4444;
    border-radius: 0 3px 3px 0;
    cursor: pointer;
}

.ButtonCount {
    width: 45px;
    height: 30px;
    font-size: 20px;
    border-width: 1px;
    border-left: none;
    border-right: none;
    border-radius: 0;
    background: none;
}

.ButtonMinus {
    width: 30px;
    height: 30px;
    font-size: 20px;
    border-width: 1px;
    border-radius: 3px 0 0 3px;
    background: none;
    cursor: pointer;
}

.ButtonMinus svg {
    margin-bottom: 6px;
}