.ItemWrapper {
    display: flex;
}

.itemInfoWrapper {
    margin-left: 100px;
    margin-top: 50px;

}

.itemInfoWrapper h2 {
    margin-bottom: 20px;
}

.itemInfoWrapper p {
    margin-bottom: 20px;
    font-size: 1.5rem;
}

.btnBuyWrapper {
    display: flex;
    justify-content: space-between;
    padding-top: 138px;
}

.addToBasketBtn {
    color: aliceblue;
    width: 140px;
    height: 30px;
    background-color: #DB4444;
    border-width: 0;
    border-radius: 3px;
}

.addtowishlistBtn {
    width: 30px;
    background: none;
    border-width: 1px;
    border-radius: 3px;
}

.addtowishlistBtn svg {
    padding-top: 3px;
}

.DeliveryCardWrapper {
    padding-top: 20px;
}

.DeliveryCardFirst {
    display: flex;
    height: 80px;
    border: 1px solid;
    border-radius: 4px 4px 0px 0px;
}

.DeliveryCardSecond {
    display: flex;
    height: 80px;
    border: 1px solid;
    border-top: none;
    border-radius: 0px 0px 4px 4px;
}

.deliveryIconWrapper {
    padding-top: 16px;
    padding-left: 12px;
}

.DeliveryCardFirstTextWrapper{
padding: 10px;
}

.DeliveryCardFirstTextWrapper p {
    margin-bottom: 0;
}