.NavContainter {
    height: 80px;
    width: 100vw;
    border-bottom: 1px gray solid;
    display: flex;
    justify-content: space-around;
}

.NavHeader {
    display: flex;
    align-items: center;
}

.NavContainter a {
    margin: 0 10px 0 10px;
    text-decoration: none;
}

.navbarMenu {
    display: flex;
    align-items: center;
    flex-basis: auto;
}

.navbarNav {
    list-style: none;
    display: flex;
    align-items: center;
    flex-basis: auto;
    flex-grow: 1;
}

.navSearch {
    display: flex;
    align-items: center;
    flex-basis: auto;
}