.notificationContainer {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 9999;
}

.notification {
    position: relative;
    padding: 20px;
    background-color: #DB4444;
    border: 1px solid #ccc;
    color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: none;
}

.close {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
}

.progressBar {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 5px;
    width: 100%;
    background-color: #ffffff;
    animation: progressAnimation 5s linear infinite;
}

@keyframes progressAnimation {
    0% {
        width: 0%;
    }

    100% {
        width: 100%;
    }
}