

.inputSearch {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 7px 12px 7px 20px;
    width: 200px;
    height: 38px;
    border: none;
}

.btnSearch {
    border: none;
    background: none;
    cursor: pointer;
}

.btnWishList {
    border: none;
    background: none;
    margin:0 5px 0 5px;
    cursor: pointer;
}

.btnBasket {
    border: none;
    background: none;
    cursor: pointer;
}

.basketItemsCount{
    background-color: #DB4444;
    width: 20px;
    height: 20px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 2px;
    padding-bottom: 2px;
    color: white;
    margin-bottom: 2px;
    cursor: pointer;
}
